body .cb2-profile {
	color:#aa0000;
}

.cb2-calendar {
	.cb2-logs {
		margin: 0px;
		padding: 0px;

		li {
			background-color: #ffd7d7;
			font-style: italic;
		}

		li:before {
			content: 'x';
			background-color: #ff0000;
			color: #fff;
			margin-right: 2px;
			padding: 2px 4px;
			font-weight: bold;
			font-size: 12px;
			font-style: normal;
		}
	}
}
