<h2>Buchungskalender</h2>
<div>
    {% include '/post/preview.html.twig'  with {'post': post} %}
</div>

{# Single Item View #}
{% if item %}
    {% include '/location/components/item.html.twig'  with {'item': item, 'location': location, 'type': type} %}
{% endif %}

{# Multi Item View #}
{% if items %}
    {% include '/location/components/items.html.twig'  with {'items': items} %}
{% endif %}

{% if not(item or items) %}Keine buchbaren Items an Location{% endif %}
