<IfModule mod_rewrite.c>
  RewriteEngine On

  # Rule 1 - support english language header rewrite
  RewriteCond %{REQUEST_URI} ^/$
  RewriteCond %{HTTP:Accept-Language} ^en [NC]
  RewriteRule ^$ https://commonsbooking.org/en [R=302,L]

  # Rule 2 - SPA 404 - Serve index.html instead of the server 404 page (displays Vitepress 404)
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

