**/.DS_Store
node_modules
assets/packaged
/vendor
/build
.vscode/settings.json
.idea

tests/cypress/screenshots
docs/.vitepress/dist

# Pre-Build dist only sources
assets/admin/js/admin.js
assets/admin/js/admin.min.js
assets/admin/css/admin.css
assets/global/js/vendor.js
assets/global/js/vendor.js.map
assets/global/js/vendor.min.js
assets/public/js/public.js
assets/public/js/public.min.js
assets/public/css/**
