/*
!/assets
!/tests
/tests/*
!/tests/cypress

!**/*.js
**/*.min.js
!**/*.scss
**/*.json
**/*.css

# Do not format sources of copied 3rd-party-libs
assets/map/leaflet-messagebox/*
assets/map/overscroll/*
