parameters:
	ignoreErrors:
		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateBooking\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateBookingCode\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateItem\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateLocation\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateTaxonomy\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Static method CommonsBooking\\Migration\\Migration\:\:migrateTimeframe\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Migration/Migration.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Wordpress/CustomPostType/CustomPostType.php
