parameters:
  phpVersion: 70400
  scanFiles:
    - commonsbooking.php
    - vendor/cmb2/cmb2/includes/helper-functions.php
    - vendor/cmb2/cmb2/includes/CMB2_Utils.php
    - vendor/cmb2/cmb2/includes/CMB2_Field.php
  paths:
    - commonsbooking.php
    - src/
    - includes/
  level: 0
  ignoreErrors:
    - identifier: missingType.iterableValue
    - '#Constant (COMMONSBOOKING.*|WP_DEBUG_LOG) not found.#'
    
