includes:
  - phpstan-baseline.neon
parameters:
  phpVersion: 70400
  scanFiles:
    - commonsbooking.php
    - vendor/cmb2/cmb2/includes/helper-functions.php
    - vendor/cmb2/cmb2/includes/CMB2_Utils.php
    - vendor/cmb2/cmb2/includes/CMB2_Field.php
  paths:
    - commonsbooking.php
    - src/
    - includes/
  level: 1
  ignoreErrors:
    - '#Constant (COMMONSBOOKING.*|WP_DEBUG_LOG) not found.#'
#    - '#Instantiated class (CommonsBooking.*CB_Data) not found.#'
    - '#Function cb_object_to_array not found.#'
    - 
      identifier: requireOnce.fileNotFound # https://github.com/szepeviktor/phpstan-wordpress/issues/239
