parameters:
	ignoreErrors:
		-
			message: '#^Function commonsbooking_public\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Public.php

		-
			message: '#^Function commonsbooking_query_vars\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Public.php

		-
			message: '#^Function commonsbooking_query_vars\(\) has parameter \$qvars with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Public.php

		-
			message: '#^Function commonsbooking_tag\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Shortcodes.php

		-
			message: '#^Function commonsbooking_tag\(\) has parameter \$atts with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Shortcodes.php

		-
			message: '#^Function commonsbooking_parse_shortcode\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/TemplateParser.php

		-
			message: '#^Function commonsbooking_parse_shortcode\(\) has parameter \$tag with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/TemplateParser.php

		-
			message: '#^Function commonsbooking_parse_template\(\) has parameter \$objects with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: includes/TemplateParser.php

		-
			message: '#^Function commonsbooking_parse_template_callback\(\) has parameter \$objects with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: includes/TemplateParser.php

		-
			message: '#^Function commonsbooking_custom_view_count\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_custom_view_count\(\) has parameter \$views with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_fix_view_counts\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_fix_view_counts\(\) has parameter \$postType with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_fix_view_counts\(\) has parameter \$views with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isCurrentUserAdmin\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isCurrentUserAllowedToEdit\(\) has parameter \$post with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isCurrentUserSubscriber\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isUIDHashComboCorrect\(\) has parameter \$user_hash with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isUIDHashComboCorrect\(\) has parameter \$user_id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_isUserAllowedToEdit\(\) has parameter \$post with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_validate_user_on_edit\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: includes/Users.php

		-
			message: '#^Function commonsbooking_validate_user_on_edit\(\) has parameter \$current_screen with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: includes/Users.php
