{% if backend != 'true' %}
    <div id="litepicker"></div>
    <div>
        <form method="get" id="booking-form" style="display:none;">
            {{ wp_nonce|raw }}
            <input type="hidden" name="location-id" value="{{ location }}" />
            <input type="hidden" name="item-id" value="{{ item }}" />
            <input type="hidden" name="type" value="{{ type }}" />
            <input type="hidden" name="post_type" value="cb_timeframe" />
            <input type="hidden" name="post_status" value="unconfirmed" />
        
            <label>Abholzeit am <span id="repetition-start"></span></label>
            <select name="repetition-start"></select>
            <label>Abgabezeit am <span id="repetition-end"></span></label>
            <select name="repetition-end"></select>
        
            <input type="submit" value="Buchen" style="font-size: 12px;padding:0;" />
        </form>
    </div>
{% else %}
    {% for week in calendar.weeks %}
        <ul class="cb-calendar">
            {% for dayOfWeek in [1,2,3,4,5,6,0] %}
                
                {% for day in week.days %}
                    {% if day.dayOfWeek == dayOfWeek %}
                        {% include 'calendar/components/day.html.twig' with {'day': day} %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
