#booking-form-container {
    select {
        height: 40px;
        width: 30%;
    }

    span.date {
        background-color: transparent;
        border: none;
        width: 20%;
    }
}