.cb-wrapper {
    /* Twenty Twenty Theme*/
    h1, h2, h3, h4 {
        margin: 0 !important;
    }
}

.litepicker {
    .container {
        &__days {
            .day-item {
                font-size: 2.2rem;
            }
        }
    }
}
