/* ---------------------- debug */
.cb-debug-control {
	position:relative;
	font-size:10px;
	color:#777;
	cursor:pointer;
}
.cb-debug-control span {
	position:absolute;
	top:-3px;
	left:40px;
	z-index:40;
	border:1px dotted #000;
	background-color:#fff;
}
.cb-debug-control:before {
	content: '•';

	display: inline-block;
	margin: 0px 2px 0 0px;
	padding: 0px 2px;
	min-width: 7px;
	border-radius:11px;
	background-color: #500;
	color: #fff;
	font-size: 6px;
	line-height:10px;
	text-align: center;
}
.cb-debug {
	background-color:Transparent;
	font-family: Sans;
	color:#555;
	font-size:10px;
	padding:4px;
	white-space:nowrap;
}
.cb-debug ul {
	padding-left: 10px;
}
.cb-debug li {
	margin-bottom: 2px;
}
body .cb-low-debug {
	color: #777;
}
.cb-high-debug {
	font-weight:bold;
}
.cb-dangerous,
.cb-warning,
.cb-error {
	color:red;
}
.cb-calendar .cb-subposts .cb-selected {
	font-weight:bold;
}
.cb-calendar .cb-range-selected {
	font-weight:bold;
}

.cb-WP_DEBUG-on div .cb-row:hover > .cb-template-debug {
	display:block;
	z-index:10000;
}
.cb-WP_DEBUG-on div .cb-row > .cb-template-debug:hover {
	color:#fff!important;
	background-color:#555;
}

body.cb-WP_DEBUG-on div .cb-template-debug {
	position:absolute;
	top:0px;
	right:0px;

	font-size:10px;
	font-weight:normal;
	line-height:90%;
	width:auto;
	height:auto;
	white-space: nowrap;
	opacity:0.8;
	background-color:#000;
	color:#fff;
	padding:1px 5px;
	display:none;
}

.cb-invalidity {
	display:none;
}
