#geo-hcard-map {
	padding:2px;
	width:100%;
	min-height:500px;
}
.cb-popup,      /* whole popup */
.cb-popup-only { /* popup fields */
	display:none;
}
#geo-hcard-map {
	.cb-popup,
	.cb-popup-only {
		display:block;
	}
}

.cb-content {

	.leaflet-popup-content-wrapper { /* container */
			ul, li, h2, h4 {
				margin: 0;
			}
			@extend .cb-box;
			padding: 0;
			margin: 0;

		ul > li.has-post-thumbnail > .cb-excerpt {
			@extend .cb-cols, .cb-cols-50-50;
		}
	}
	/* one row scroller */
	&.cb-interaction-style-cb-one-row-scroll {
		margin-bottom: 0;
	}
}


