/**
 * Notices
 *
 * Block-Level 
 * inline
 *
 */

@use "../../../global/sass/partials/extends";

.cb-wrapper {	
	.cb-notice {
		@extend .cb-box;
		margin-bottom: var(--commonsbooking-spacer-big);
		font-size: var(--commonsbooking-font-size-big);
		vertical-align: middle;
		font-weight: bold;
		position: relative;
		background: var(--commonsbooking-color-noticebg);
		
		/* Post status */
		&.cb-status-unconfirmed {
		  background: var(--commonsbooking-color-noticebg);
		}    
		&.cb-status-confirmed {
		  background: var(--commonsbooking-color-success);
		}    
		&.cb-status-cancelled {
		  background: var(--commonsbooking-color-success);
		}    
		&.error {
		  background: var(--commonsbooking-color-error);
            color: var(--commonsbooking-textcolor-light);
        }
	  }
	 .cb-notice-small {
		 display: block;
		&.cb-status-not-available {
			color: var(--commonsbooking-color-error);
		}
	 }
}