/**
 * Single item, single location, single booking view
 *
 */

.cb-wrapper {
  /* invert the color scheme from the lists: wrapper has no bg, sub-wrapper colored */
  &.template-location-single,
  &.template-item-single,
  &.template-booking-single {
    background: transparent;
    padding: 0;
    > div:not(.cb-notice) { 
      @extend .cb-box;
      > div { /* sub list items */
        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
  .notice.notice-error{
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--commonsbooking-color-error);
      font-size: var(--commonsbooking-font-size-big);
  }
}