/**
 * Single item, single location, single booking view
 *
 */

.cb-wrapper {
  /* invert the color scheme from the lists: wrapper has no bg, sub-wrapper colored */
  &.template-location-single,
  &.template-item-single,
  &.template-booking-single {
    background: transparent;
    padding: 0;
    > div:not(.cb-notice) { 
      @extend .cb-box !optional;
      > div { /* sub list items */
        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
}