/**
 * Optimisation & Compatibility 
 *
 * Tweaks to make CB play nice with popular Wordpress themes.
 *
 */


.cb-wrapper {
  /* Twenty Nineteen Theme*/
  h2::before {
    content: '';
    margin: 0;
    background: transparent;
  }
  /* Twenty Twenty Theme*/
    h1, h2, h3, h4 {
      margin: 0 !important;
    }  

  .litepicker {
    .container {
        &__days {
            .day-item {
                font-size: 2.2rem;
            }
        }
    }  
  }
}