/**
 * Dashboard admin page 
 *
 */

@use "../../../global/sass/partials/extends";

.cb-admin-page {
	.cb-admin-cols {
		display: flex;
		flex-direction: row;
		div {
		margin-right: 15px;


		h2 {
			padding-top: 0;
		}

		ul {
				li {
					margin-top: 15px;
					@extend .cb-box;
					.cb-summmary-item {
						font-weight: bold;
					}
				}
			}
		}
	}
}


.cb_welcome-panel {
	position: relative;
	overflow: auto;
	margin: 16px 0;
	padding: 23px 10px 0;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 13px;
	line-height: 1.7;


    h3 {
        margin: 1.33em 0 0;
        font-size: 16px;
    }
    
    li {
        font-size: 14px;
    }

    .cb_welcome-panel-content {
        margin-left: 13px;
        max-width: 1500px;
    }

    .cb_welcome-panel-column-container {
        clear: both;
        position: relative;
    }

    .cb_welcome-panel-column {
        width: 32%;
        min-width: 200px;
        float: left;

        p {
            margin-top: 7px;
            color: #3c434a;
        }

        ul {
            margin: .8em 1em 1em 0;
        }

        li {
            line-height: 1.14285714;
            list-style-type: none;
            padding: 0 0 8px;

            a {
                text-decoration: none;
            }
        }
        
    }


    .cb_welcome-panel-column:first-child {
        width: 36%;
    }
}