#upgrade-in-progress,
#upgrade-done,
{
    margin-top: 1rem;
    display: none;
}

#migration-in-progress,
#migration-state,
#migration-done
{
  margin-top: 1rem;
  display: none;
}

#booking-migration-in-progress,
#booking-migration-done,
#booking-migration-failed
{
  margin-bottom: 1rem;
  display: none;
}

.blinking {
    animation: blinkText 1s infinite alternate;
}

#orphans-migration-in-progress,
#orphans-migration-done,
#orphans-migration-failed
{
    margin-bottom: 1rem;
    display: none;
}

@keyframes blinkText {
    from {opacity:0;}
    to {opacity: 1;}
}