.padding, .cb-box, .cb-timeframe, #cb-bookingbar .inner, #theme-my-login, #respond {
  padding: 1em;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.cb-small, .cb-user-bar a.cb-button {
  font-size: 0.8em;
}

.cb-big, .cb-headline, .cb-timeframe .cb-location .cb-location-name {
  font-size: 1.4em;
  font-weight: bold;
  color: #d53e08;
  margin-bottom: 0.5em;
}

.border {
  border-top: 1px solid #e1e1e1;
  display: block;
}

.cb-headline a {
  color: #56a820;
}

.cb-box, .cb-timeframe, #cb-bookingbar .inner, #theme-my-login, #respond {
  overflow: hidden;
  border: 1px solid darken #cef, 30%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #cef;
  margin-bottom: 2em;
}

.cb-big a, .cb-headline a, .cb-timeframe .cb-location .cb-location-name a {
  color: #d53e08;
  text-decoration: none;
  border-bottom: none !important;
}

.cb-table, #theme-my-login form, #respond form {
  margin-bottom: 1em;
  display: block;
}

.cb-table .cb-row, #theme-my-login form .cb-row, #respond form .cb-row, .cb-table #theme-my-login p, #theme-my-login .cb-table p, #theme-my-login form p, .cb-table #theme-my-login .g-recaptcha, #theme-my-login .cb-table .g-recaptcha, #theme-my-login form .g-recaptcha, .cb-table #respond p, #respond .cb-table p, #respond form p, .cb-table #respond .g-recaptcha, #respond .cb-table .g-recaptcha, #respond form .g-recaptcha {
  color: #414141;
  border-top: 1px solid #cef;
  padding: 1em;
  overflow: hidden;
  background: #fff;
}

.cb-table .cb-row:first-child, #theme-my-login form .cb-row:first-child, #respond form .cb-row:first-child, .cb-table #theme-my-login p:first-child, #theme-my-login .cb-table p:first-child, #theme-my-login form p:first-child, .cb-table #theme-my-login .g-recaptcha:first-child, #theme-my-login .cb-table .g-recaptcha:first-child, #theme-my-login form .g-recaptcha:first-child, .cb-table #respond p:first-child, #respond .cb-table p:first-child, #respond form p:first-child, .cb-table #respond .g-recaptcha:first-child, #respond .cb-table .g-recaptcha:first-child, #respond form .g-recaptcha:first-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.cb-table .cb-row:last-child, #theme-my-login form .cb-row:last-child, #respond form .cb-row:last-child, .cb-table #theme-my-login p:last-child, #theme-my-login .cb-table p:last-child, #theme-my-login form p:last-child, .cb-table #theme-my-login .g-recaptcha:last-child, #theme-my-login .cb-table .g-recaptcha:last-child, #theme-my-login form .g-recaptcha:last-child, .cb-table #respond p:last-child, #respond .cb-table p:last-child, #respond form p:last-child, .cb-table #respond .g-recaptcha:last-child, #respond .cb-table .g-recaptcha:last-child, #respond form .g-recaptcha:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.cb-table .cb-row:only-child, #theme-my-login form .cb-row:only-child, #respond form .cb-row:only-child, .cb-table #theme-my-login p:only-child, #theme-my-login .cb-table p:only-child, #theme-my-login form p:only-child, .cb-table #theme-my-login .g-recaptcha:only-child, #theme-my-login .cb-table .g-recaptcha:only-child, #theme-my-login form .g-recaptcha:only-child, .cb-table #respond p:only-child, #respond .cb-table p:only-child, #respond form p:only-child, .cb-table #respond .g-recaptcha:only-child, #respond .cb-table .g-recaptcha:only-child, #respond form .g-recaptcha:only-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.cb-table .cb-row .cb-row-title, #theme-my-login form .cb-row .cb-row-title, #respond form .cb-row .cb-row-title, .cb-table #theme-my-login p .cb-row-title, #theme-my-login .cb-table p .cb-row-title, #theme-my-login form p .cb-row-title, .cb-table #theme-my-login .g-recaptcha .cb-row-title, #theme-my-login .cb-table .g-recaptcha .cb-row-title, #theme-my-login form .g-recaptcha .cb-row-title, .cb-table #respond p .cb-row-title, #respond .cb-table p .cb-row-title, #respond form p .cb-row-title, .cb-table #respond .g-recaptcha .cb-row-title, #respond .cb-table .g-recaptcha .cb-row-title, #respond form .g-recaptcha .cb-row-title {
  font-weight: bold;
  margin-right: 1em;
}

.cb-table .cb-row .cb-big, #theme-my-login form .cb-row .cb-big, #respond form .cb-row .cb-big, .cb-table #theme-my-login p .cb-big, #theme-my-login .cb-table p .cb-big, #theme-my-login form p .cb-big, .cb-table #theme-my-login .g-recaptcha .cb-big, #theme-my-login .cb-table .g-recaptcha .cb-big, #theme-my-login form .g-recaptcha .cb-big, .cb-table #respond p .cb-big, #respond .cb-table p .cb-big, #respond form p .cb-big, .cb-table #respond .g-recaptcha .cb-big, #respond .cb-table .g-recaptcha .cb-big, #respond form .g-recaptcha .cb-big, .cb-table .cb-row .cb-headline, #theme-my-login form .cb-row .cb-headline, #respond form .cb-row .cb-headline, .cb-table #theme-my-login p .cb-headline, #theme-my-login .cb-table p .cb-headline, #theme-my-login form p .cb-headline, .cb-table #theme-my-login .g-recaptcha .cb-headline, #theme-my-login .cb-table .g-recaptcha .cb-headline, #theme-my-login form .g-recaptcha .cb-headline, .cb-table #respond p .cb-headline, #respond .cb-table p .cb-headline, #respond form p .cb-headline, .cb-table #respond .g-recaptcha .cb-headline, #respond .cb-table .g-recaptcha .cb-headline, #respond form .g-recaptcha .cb-headline, .cb-table .cb-row .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location .cb-table .cb-row .cb-location-name, #theme-my-login form .cb-row .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #theme-my-login form .cb-row .cb-location-name, #respond form .cb-row .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #respond form .cb-row .cb-location-name, .cb-table #theme-my-login p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location .cb-table #theme-my-login p .cb-location-name, #theme-my-login .cb-table p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #theme-my-login .cb-table p .cb-location-name, #theme-my-login form p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #theme-my-login form p .cb-location-name, .cb-table #theme-my-login .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location .cb-table #theme-my-login .g-recaptcha .cb-location-name, #theme-my-login .cb-table .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #theme-my-login .cb-table .g-recaptcha .cb-location-name, #theme-my-login form .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #theme-my-login form .g-recaptcha .cb-location-name, .cb-table #respond p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location .cb-table #respond p .cb-location-name, #respond .cb-table p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #respond .cb-table p .cb-location-name, #respond form p .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #respond form p .cb-location-name, .cb-table #respond .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location .cb-table #respond .g-recaptcha .cb-location-name, #respond .cb-table .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #respond .cb-table .g-recaptcha .cb-location-name, #respond form .g-recaptcha .cb-timeframe .cb-location .cb-location-name, .cb-timeframe .cb-location #respond form .g-recaptcha .cb-location-name {
  display: block;
}

.cb-table .cb-row .cb-button, #theme-my-login form .cb-row .cb-button, #respond form .cb-row .cb-button, .cb-table #theme-my-login p .cb-button, #theme-my-login .cb-table p .cb-button, #theme-my-login form p .cb-button, .cb-table #theme-my-login .g-recaptcha .cb-button, #theme-my-login .cb-table .g-recaptcha .cb-button, #theme-my-login form .g-recaptcha .cb-button, .cb-table #respond p .cb-button, #respond .cb-table p .cb-button, #respond form p .cb-button, .cb-table #respond .g-recaptcha .cb-button, #respond .cb-table .g-recaptcha .cb-button, #respond form .g-recaptcha .cb-button, .cb-table .cb-row #theme-my-login form input#submit, #theme-my-login form .cb-row input#submit, .cb-table #theme-my-login p form input#submit, #theme-my-login .cb-table p form input#submit, #theme-my-login form p input#submit, .cb-table #theme-my-login .g-recaptcha form input#submit, #theme-my-login .cb-table .g-recaptcha form input#submit, #theme-my-login form .g-recaptcha input#submit, .cb-table .cb-row #respond form input#submit, #respond form .cb-row input#submit, .cb-table #respond p form input#submit, #respond .cb-table p form input#submit, #respond form p input#submit, .cb-table #respond .g-recaptcha form input#submit, #respond .cb-table .g-recaptcha form input#submit, #respond form .g-recaptcha input#submit {
  margin: 1em 0 1em 1em;
}

.cb-user-bar {
  margin-bottom: 2em;
}

.cb-user-bar a.cb-button {
  background: #56a820;
}

.cb-timeframe-title {
  display: none;
}

.entry-content .cb-box h2, .entry-content .cb-timeframe h2, .entry-content #cb-bookingbar .inner h2, #cb-bookingbar .entry-content .inner h2, .entry-content #theme-my-login h2, .entry-content #respond h2 {
  margin-top: 0;
}

.cb-location-name {
  display: block;
  font-weight: bold;
}

.cb-list-item-description {
  margin-bottom: 1em;
  display: block;
  overflow: hidden;
}

.cb-list-item-description img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 1em;
}

a.cb-button, input#wp-submit, input#wp-submit-comment {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5em 1em;
  overflow: hidden;
  background: #56a820;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none !important;
}

a.cb-button:hover, input#wp-submit:hover, input#wp-submit-comment:hover {
  background: #56a820;
  color: #fff;
}

a.cb-button.cb-small, .cb-user-bar a.cb-button, input#wp-submit.cb-small, input#wp-submit-comment.cb-small {
  background: #56a820;
  border: 1px solid #e1e1e1;
}

a.cb-button.warning, input#wp-submit.warning, input#wp-submit-comment.warning {
  background: #a70001;
}

a.cb-button.warning:hover, input#wp-submit.warning:hover, input#wp-submit-comment.warning:hover {
  background: #ff0002;
}

.cb-booking-code strong {
  padding: 5px;
  display: block;
  font-family: Courier, monospaced;
  color: green;
  font-weight: normal;
}

.cb-message, #cb-bookingbar-msg {
  display: block;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}

.cb-message.success, .success#cb-bookingbar-msg {
  color: #407d18;
  background: #c3eea6;
}

.cb-message.error, .error#cb-bookingbar-msg {
  background: #ff0002;
}

.cb-description {
  margin-bottom: 2em;
}

.cb-tooltipster {
  background: #407d18;
}

.single-cb_items #comments {
  display: none;
}

.cb-booking-comment {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  overflow: hidden;
}

.cb-booking-comment input {
  margin-top: 1em;
  float: right;
}

.form-submit {
  background: transparent;
}

.form-submit input {
  float: right;
}

.cb-timeframe .pusher.day1, .cb-timeframe ul.cb-calendar li.day1:first-of-type {
  margin-left: 0;
}

.cb-timeframe .pusher.day2, .cb-timeframe ul.cb-calendar li.day2:first-of-type {
  margin-left: 14.28571%;
}

.cb-timeframe .pusher.day3, .cb-timeframe ul.cb-calendar li.day3:first-of-type {
  margin-left: 28.57143%;
}

.cb-timeframe .pusher.day4, .cb-timeframe ul.cb-calendar li.day4:first-of-type {
  margin-left: 42.85714%;
}

.cb-timeframe .pusher.day5, .cb-timeframe ul.cb-calendar li.day5:first-of-type {
  margin-left: 57.14286%;
}

.cb-timeframe .pusher.day6, .cb-timeframe ul.cb-calendar li.day6:first-of-type {
  margin-left: 71.42857%;
}

.cb-timeframe .pusher.day7, .cb-timeframe ul.cb-calendar li.day7:first-of-type {
  margin-left: 85.71429%;
}

.cb-timeframe .cb-location {
  display: block;
  overflow: hidden;
}

.cb-timeframe ul.cb-calendar {
  list-style: none;
  clear: both;
  overflow: hidden;
  margin: 1em 0 1em 0;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.cb-timeframe ul.cb-calendar input {
  display: none;
}

.cb-timeframe ul.cb-calendar li, .cb-timeframe ul.cb-calendar div.cb-weekday-row span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.28571%;
  position: relative;
  overflow: hidden;
  padding: 4px;
  float: left;
  text-align: center;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cb-timeframe ul.cb-calendar li .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span .cb-cal-inner {
  min-height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100%;
  padding: 2px;
}

.cb-timeframe ul.cb-calendar li .cb-cal-inner span.cb-j, .cb-timeframe ul.cb-calendar div.cb-weekday-row span .cb-cal-inner span.cb-j {
  margin-top: 5px;
  display: block;
  line-height: 1em;
}

.cb-timeframe ul.cb-calendar li .cb-cal-inner span.cb-M, .cb-timeframe ul.cb-calendar div.cb-weekday-row span .cb-cal-inner span.cb-M {
  margin-bottom: 5px;
  display: block;
  font-size: 0.7em;
}

.cb-timeframe ul.cb-calendar li.bookable, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.bookable {
  cursor: pointer;
  color: #56a820;
}

.cb-timeframe ul.cb-calendar li.bookable .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.bookable .cb-cal-inner {
  background: #fff;
}

.cb-timeframe ul.cb-calendar li.bookable .cb-cal-inner:hover, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.bookable .cb-cal-inner:hover {
  background: #407d18;
  color: #cef;
}

.cb-timeframe ul.cb-calendar li.selected, .cb-timeframe ul.cb-calendar li.closed.overbooking, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.closed.overbooking {
  background: #56a820;
  color: #9cd2a5;
}

.cb-timeframe ul.cb-calendar li.selected .cb-cal-inner, .cb-timeframe ul.cb-calendar li.closed.overbooking .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.closed.overbooking .cb-cal-inner {
  background: transparent;
}

.cb-timeframe ul.cb-calendar li.selected-first, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected-first {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cb-timeframe ul.cb-calendar li.selected-first .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected-first .cb-cal-inner {
  color: #fff;
  background: #407d18;
}

.cb-timeframe ul.cb-calendar li.selected-last, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected-last {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cb-timeframe ul.cb-calendar li.selected-last .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.selected-last .cb-cal-inner {
  color: #fff;
  background: #407d18;
}

.cb-timeframe ul.cb-calendar li.booked, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.booked {
  cursor: not-allowed;
  color: #ff0002;
}

.cb-timeframe ul.cb-calendar li.booked .cb-cal-inner, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.booked .cb-cal-inner {
  background: #e1e1e1;
  color: #fff;
}

.cb-timeframe ul.cb-calendar li.closed, .cb-timeframe ul.cb-calendar div.cb-weekday-row span.closed {
  cursor: not-allowed;
  color: #aeaeae;
}

.cb-timeframe ul.cb-calendar div.cb-weekday-row span {
  color: #aeaeae;
  font-size: 0.7em;
}

#cb-bookingbar {
  z-index: 99;
  position: fixed;
  height: auto;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#cb-bookingbar .inner {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 70px 1px #afafaf;
  -moz-box-shadow: 0 0 70px 1px #afafaf;
  box-shadow: 0 0 70px 1px #afafaf;
  margin: 0;
  background: #fff;
  color: #000;
  overflow: hidden;
}

#cb-bookingbar .cb-userinfo {
  display: block;
  margin-bottom: 10px;
}

#cb-bookingbar .booking #cb-intro, #cb-bookingbar .booking #date-start, #cb-bookingbar .booking #date-end, #cb-bookingbar .booking #cb-submit {
  font-weight: normal;
  float: left;
}

#cb-bookingbar .booking div.bb-date {
  display: inline-block;
  background: #cef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #e1e1e1;
  margin: 0 0.5em;
}

#cb-bookingbar .booking div.bb-date .cb-cal-inner {
  font-weight: bold;
  margin: 0 10px 0 5px;
  border: 0;
  padding: 0;
}

#cb-bookingbar .booking div.bb-date .cb-cal-inner span {
  color: #3356a4;
  padding: 0;
}

#cb-bookingbar .booking div.bb-date .cb-cal-inner span.cb-day {
  display: none;
}

#cb-bookingbar .booking #cb-submit {
  margin-right: 0;
  margin-top: 5px;
  float: right;
}

#cb-bookingbar .booking #cb-submit .cb-button, #cb-bookingbar .booking #cb-submit #theme-my-login form input#submit, #theme-my-login form #cb-bookingbar .booking #cb-submit input#submit, #cb-bookingbar .booking #cb-submit #respond form input#submit, #respond form #cb-bookingbar .booking #cb-submit input#submit {
  line-height: 40px;
  height: 40px;
}

#cb-bookingbar-msg {
  margin-bottom: 0;
}

.tooltipster-cb {
  border-radius: 3px;
  background: #407d18;
  color: #fff;
}

.tooltipster-cb .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}

.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#theme-my-login, #respond {
  width: 100%;
  max-width: 100%;
}

#theme-my-login form input#submit, #respond form input#submit {
  background: #56a820;
  margin-left: 0;
}

#theme-my-login p, #theme-my-login .g-recaptcha, #respond p, #respond .g-recaptcha {
  margin-bottom: 1px;
}

#theme-my-login p input, #theme-my-login .g-recaptcha input, #respond p input, #respond .g-recaptcha input {
  padding: 0.5em 1em;
}

p.message, p.error {
  border: none !important;
  margin-bottom: 1em !important;
}

.booking-list .filter.label {
  font-size: 1rem;
}