.cb-admin-page {
	.cb-admin-cols {
		display: flex;
		flex-direction: row;
		div {
		margin-right: 15px;


		h2 {
			padding-top: 0;
		}

		ul {
			li {
				margin-top: 15px;
				@extend .cb-box;
				.cb-summmary-item {
					font-weight: bold;
				}
			}
}
	}
}
}
