#booking-form {
    .time-selection {
        float: left;
        padding: 1rem;
    }

    input[type=submit] {
        font-size: 1.2rem;
        text-decoration: none;
        margin-top: 1rem;
    }
}
