#cb-action {
  @extend .cb-box;
  @extend .cb-columns;

  /* Hack for now: we should be able to target the <input> directly by id/class. */
  flex-direction: row-reverse; 
  form {
    &:last-of-type {
      input {
        background: transparent;
        color: $color-gray-silver;
      }
    }
  }
  input {
    @extend .cb-button;
  }
}
.cb-notice {
  @extend .cb-box;
	margin-bottom: $padding-big;
	font-size: $font-size-big;
	vertical-align: middle;
	font-weight: bold;
	background: $color-yellow-background;
  position: relative;
}