<div>
    {% include '/post/preview.html.twig'  with {'post': item} %}
</div>
{% include '/calendar/index.html.twig' with {
    'location': location,
    'item': item.ID,
    'type': type
} %}
