/**
 * Debug
 *
 */

.cb-hidden { display: none; }

/* Template name in content */
.cb-debug { 
  opacity: 0;
  position: absolute; 
  right: 0; 
  top: 0; 
  font-size: 10px; 
  background: transparent !important;
}

.cb-wrapper:hover .cb-debug {
  opacity: 1;
}
