/*
 * This stylesheet is used to style the public-facing components of the plugin
 */

/* Mixins */
@import "mixins/_calendar";

/* Global styles */
@import "../../global/sass/global";

/* Multi-column layouts */
@import "partials/_layouts";

/* List styles */
@import "partials/_lists";

/* List styles */
@import "partials/_single";

/* Form styles */
@import "partials/_forms";

/* Calendar styles */
@import "partials/_calendar";

/* Calendar styles */
@import "partials/_map";

/* Booking list styles */
@import "partials/_bookings";

/* Booking list styles */
@import "partials/_notice";

/* Styles for items table */
@import "partials/_shortcodeItemsTable";

/* Fixes for specific WP Themes */
@import "partials/_themeoptimization";
