.cb-map-settings-cat-filter-list .children {
  margin-left: 1.5em;
}

th {
  width: 250px;
}

.category-wrapper {
  height: 150px;
  padding: 10px;
  background-color: #fff;
  overflow-y: scroll;
}

.option-group {
  display: none;
}

button>span.dashicons {
  display: inline-block;
  margin-top: 4px;
}

@keyframes spin { 100% { -webkit-transform: rotateZ(360deg); transform:rotateZ(360deg); } }

.rotate {
  animation: spin 2s linear infinite;
}

.dashicons-editor-help {
  cursor: help;
}

table.text-left {
  text-align: left;
}

.display-none {
  display: none;
}

.filter-label-name {
  text-indent: 1em;
}

.option-group summary {
  font-size: 23px;
  color: rgb(35, 40, 45);
  padding-bottom: 4px;
  padding-top: 9px;
  line-height: 29px;
  outline: none;
  cursor: pointer
}
