name: E2E Tests

on:
  push:
    branches:
      - 'master'
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.txt'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - 'docs/**'

env:
  DB_DATABASE: wordpress_test
  DB_USER: root
  DB_PASSWORD: ''

jobs:
  e2e:
    name: 'WP ${{ matrix.core.name }} on PHP ${{ matrix.php }}'
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        php:
          - '7.4'
          #- '8.3'
        core:
          #- {name: 'tested', version: 'null'}
          - {name: 'minimum', version: 'WordPress/WordPress#5.9'}
          #- {name: 'trunk', version: 'WordPress/WordPress#master'}

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/build-plugin

      - name: Install wp-env systemwide
        shell: bash
        run: npm -g i @wordpress/env
        
      - name: Overwrite PHP versions & core for wp-env 
        if: matrix.core.version != 'null'
        run: jq '. + {"phpVersion":"${{ matrix.php }}","core":"${{ matrix.core.version }}"}' tests/cypress/wordpress-files/e2e-override.json > .wp-env.override.json

      - name: setup wp env
        run: npm run env:start

      - name: wait for wordpress to boot up reliable
        run: npx wait-on http://localhost:1001/wp-login.php --timeout 60000

      - name: wait for wordpress to boot up reliable part 2
        run: wp-env run cli wp core is-installed

      - name: wait for wordpress to boot up reliable part 3
        run: wp-env run cli wp config set DISABLE_WP_CRON true --raw

      - name: wait for wordpress to boot up reliable
        run: npx wait-on http://localhost:1001/wp-login.php --timeout 60000

      - name: wait for wordpress to boot up reliable part 2
        run: wp-env run cli wp core is-installed

      - name: wait for 2 minutes
        run: sleep 120
             
      - name: install test data for e2e test
        run: npm run cypress:setup

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          browser: chrome
          config-file: tests/cypress/cypress.config.js

      - name: Dump all Docker logs
        if: failure()
        run: |
          docker ps -a
          for c in $(docker ps -aq); do
            echo "=============================="
            echo "Logs for container $c"
            echo "=============================="
            docker logs $c || true
          done

      - name: Upload Cypress screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: cypress-screenshots-${{ matrix.php }}_${{ matrix.core.name }}
          path: ${{ github.workspace }}/tests/cypress/screenshots/
