name: E2E Tests

on:
  push:
    branches:
      - 'master'
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.txt'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - 'docs/**'

env:
  DB_DATABASE: wordpress_test
  DB_USER: root
  DB_PASSWORD: ''

jobs:
  e2e:
    name: 'WP ${{ matrix.core.name }} on PHP ${{ matrix.php }}'
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        php:
          - '7.4'
          - '8.3'
        core:
          - {name: 'tested', version: 'null'}
          - {name: 'minimum', version: 'WordPress/WordPress#5.9'}
          - {name: 'trunk', version: 'WordPress/WordPress#master'}

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/build-plugin

      - name: Install wp-env systemwide
        shell: bash
        run: npm -g i @wordpress/env
        
      - name: Overwrite PHP versions & core for wp-env 
        if: matrix.core.version != 'null'
        run: jq '. + {"phpVersion":"${{ matrix.php }}","core":"${{ matrix.core.version }}"}' tests/cypress/wordpress-files/e2e-override.json > .wp-env.override.json

      - name: setup wp env
        run: npm run env:start
        
      - name: install test data for e2e test
        run: npm run cypress:setup

      - name: Debug WP CLI meta update
        run: |
          echo "Node version:"
          node -v
          echo "WP-ENV version:"
          npx wp-env --version || true
          echo "Running meta update test..."
          npx wp-env run tests-cli wp --debug post meta update 110 _cb_allow_lockdays_in_range on

      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          install: false
          config-file: tests/cypress/cypress.config.js
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 1
          DEBUG: cypress:server:exec,cypress:server:run

      - name: Dump Docker logs after Cypress
        if: ${{ always() }}
        run: |
          docker ps -a
          docker logs $(docker ps -q --filter "name=tests-cli") || true
          docker logs $(docker ps -q --filter "name=wordpress") || true


      - name: Upload Cypress screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: cypress-screenshots-${{ matrix.php }}_${{ matrix.core.name }}
          path: ${{ github.workspace }}/tests/cypress/screenshots/
  rerun-on-failure:
    needs: e2e
    if: failure() && fromJSON(github.run_attempt) < 3
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
        run: gh workflow run rerun.yml -r ${{ github.head_ref || github.ref_name }} -F run_id=${{ github.run_id }}
