on:
  push:
    branches:
      - master

jobs:
  i18n-coverage:
    runs-on: ubuntu-20.04
    name: Check i18n coverage
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'

      - name: Install WP-CLI
        run: |
          curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
          chmod +x wp-cli.phar
          sudo mv wp-cli.phar /usr/local/bin/wp

      - name: Generate pot files
        run: wp i18n make-pot ${{ github.workspace }} ${{ github.workspace }}/languages/commonsbooking.pot
      - name: Commit changes
        uses: elstudio/actions-js-build/commit@v4
        with:
          commitMessage: Ran wp i18n make-pot
          
      - name: Check i18n coverage
        uses: alexkiro/i18n-coverage@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          translations-path: 'languages/*.po'
          ignore-languages: 'en'
