name: PHP Unit Tests

on: 
  pull_request:
    branches:
      - 'master'
      - 'release/**'
    paths-ignore:
      - '**.md'
      

env:
  DB_DATABASE: wordpress_test
  DB_USER: root
  DB_PASSWORD: ''

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up MySQL
      run: |
        sudo /etc/init.d/mysql start

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: |
        bash bin/install-wp-tests.sh wordpress_test root root localhost latest
        composer install --prefer-dist --no-progress

    - name: Run test suite
      run: |
        curl -ksSfL -o ~/phpunit-7.phar https://phar.phpunit.de/phpunit-7.phar
        php ~/phpunit-7.phar --version
        php ~/phpunit-7.phar
