name: Deploy to WordPress.org

on:
  push:
    tags:
      - "v*.*.*"
    
jobs:
  deploy:
    name: New tag
    runs-on: ubuntu-20.04
    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'

    - uses: actions/checkout@master
    
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0.6' # Not needed with a .ruby-version file
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - run: gem install compass
    
    - uses: actions/setup-node@v2
      with:
        node-version: 12
    

    - name: Validate composer.json and composer.lock
      run: composer validate
   

    - name: Compile with Grunt
      uses: elstudio/actions-js-build/build@v4
      with:
        args: build

    - name: Commit changes
      uses: elstudio/actions-js-build/commit@v4
      with:
        commitMessage: Ran grunt 
   
    - name: Build # Remove or modify this step as needed
      run: |
        npm ci --production --legacy-peer-deps
        php -v
        composer install --ignore-platform-req=php --no-dev
        
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      with:
        dry-run: false
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: commonsbooking # optional, remove if GitHub repo name matches SVN slug, including capitalization
