name: Build zip from PR
on:
  pull_request:
    paths-ignore:
    - 'docs/**'
    branches:
      - 'master'

jobs:
  zip-pr:
    if: github.repository == 'wielebenwir/commonsbooking'
    runs-on: ubuntu-24.04
    steps:
    
     - uses: actions/checkout@v5
       with:
        fetch-depth: 0  # Important for getting full commit history

     - name: Update Version Comment
       run: |
        sed -i "s|define('COMMONSBOOKING_VERSION_COMMENT',.*|define('COMMONSBOOKING_VERSION_COMMENT', '${{ github.head_ref }} at ${{ github.event.pull_request.head.sha}}');|" commonsbooking.php
     - uses: ./.github/actions/build-plugin
       with:
         generate_zip: 'true'

     - name: Upload zip
       uses: SamKirkland/FTP-Deploy-Action@v4.3.5
       with:
         exclude: |
          **
          ! commonsbooking.zip
         server: ${{ secrets.CBZIPUPLOAD_SERVER }}
         username: ${{ secrets.CBZIPUPLOAD_USER }}
         password: ${{ secrets.CBZIPUPLOAD_KEY }}
         server-dir: ${{ github.event.number }}/
         dangerous-clean-slate: true # We only set this because we create a fresh directory and the action fails otherwise
         protocol: ftps
             
     - name: Find Comment
       uses: peter-evans/find-comment@v4
       id: fc
       with:
         issue-number: ${{ github.event.pull_request.number }}
         comment-author: 'github-actions[bot]'
         body-includes: Download built plugin zip

     - name: Create or update comment
       uses: peter-evans/create-or-update-comment@v4
       with:
         comment-id: ${{ steps.fc.outputs.comment-id }}
         issue-number: ${{ github.event.pull_request.number }}
         body: |
           [Download built plugin zip](https://builds.commonsbooking.org/${{ github.event.number }}/commonsbooking.zip)
           [Test Plugin in Wordpress Playground](https://playground.wordpress.net/#{%22steps%22:[{%22step%22:%22installPlugin%22,%22pluginData%22:{%22resource%22:%22url%22,%22url%22:%22https://builds.commonsbooking.org/${{ github.event.number }}/commonsbooking.zip%22}},{%22step%22:%22importWxr%22,%22file%22:{%22resource%22:%22url%22,%22url%22:%22https://raw.githubusercontent.com/wielebenwir/commonsbooking/refs/heads/master/tests/cypress/wordpress-files/content-example.xml%22}}],%22preferredVersions%22:{%22php%22:%227.4%22,%22wp%22:%22latest%22},%22login%22:true})
         edit-mode: replace
